h1{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
	color: olive;
	font-size: 60pt;
	text-align: center;
}
h2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
	color: 	gray;
	font-size: 20pt;
	text-align: center;
}
body{
	background-image: url(afbeelding2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
#index_keuze{
	float: left;
	width: 85%;
	min-width: 300px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1em;
	padding: 1em;
}
#handeling{
	height:500px;
}
#vink{
	height:200px;
	margin-top: 150px;
	margin-left: 100px;
}
#help{
	height:90px; 
	margin-top: 20px;
}
#overlay{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	background-color: gray;
	opacity: .7;
	display: none;
}
#olimg{
	position: absolute;
	display: none;
	top:0;
	margin: auto;
}
#olimg img{
	display: block;
	margin: auto;
	width: 60%; 
	height: 60%;
	padding-top: 150px;
	padding-left: 150px;
}